html
{
  height: 100%;
}


body {
	width: 900;
	position: static;
	font-family: arial, helvetica, sans-serif;
	font-size: 16;
	color:#266200;
	padding: 0;
	margin: 10;
	background-color:#F7F8E1;	
	background-position: 50% 50%
}


h2{
	font-size: 14pt;
	color: GREEN;
}
a:link { color: #000080; font-weight:bold;}
a:active { color: #ff0000; }
a:visited { color: #800080; }

td.border 
{
	border-width: 5pt;
	border-style: solid;
	border: inset 2pt;
	border: outset 2pt;
	border-spacing: 3pt 1pt;	
}


th.border 
{
	border-width: 1px;
	border-color: #FFD300;
	border-style: solid;
}
